.left-dashboard {
  width: 220px;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  float: left;
  background-color: #191919;
  /*height + 15px because of FSFT <h1> margin-top spacing and -30px due to margin-top on dashboard pieces (10px margin on both, and extra 10px for spacing on bottom of screen), changed back to -20px (not gonna hit bottom of screen anyways)*/ }
  .left-dashboard__top__container {
    background-color: #161616;
    height: 20%;
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-bottom-right-radius: 15px;
    min-height: 202px; }
    .left-dashboard__top__container h1:first-of-type {
      font-weight: 700;
      font-size: 87px;
      padding-top: 18px; }
      .left-dashboard__top__container h1:first-of-type span:first-of-type {
        margin-right: 15px; }
    .left-dashboard__top__container h1 {
      font-weight: 700;
      font-size: 87px;
      margin-top: -15px; }
      .left-dashboard__top__container h1 span:first-of-type {
        margin-right: 15px; }
  .left-dashboard__mid__container {
    background-color: #161616;
    height: 20%;
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    color: white;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    min-height: 202px; }
    .left-dashboard__mid__container h3 {
      font-size: 20px;
      padding-top: calc(50% - 30px); }
  .left-dashboard__bottom__container {
    width: 100%;
    height: calc(45% + 15px - 20px);
    background-color: #161616;
    position: relative;
    display: block;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    min-height: 450px;
    text-align: center;
    font-family: 'Hind', sans-serif; }
    .left-dashboard__bottom__container-fsftlink {
      color: white;
      position: absolute;
      bottom: 7.5px;
      left: 16.5px;
      font-weight: 500;
      text-decoration: none; }
      .left-dashboard__bottom__container-fsftlink:hover {
        color: white; }
    .left-dashboard__bottom__container__list {
      text-align: center;
      text-decoration: none;
      list-style: none;
      padding-inline-start: 0px;
      margin: 0px auto;
      padding-top: 15px; }
      .left-dashboard__bottom__container__list li {
        background-color: #161616;
        width: 100%; }
        .left-dashboard__bottom__container__list li a {
          padding: 5px 0px;
          color: white;
          font-size: 25px;
          font-weight: 600;
          text-transform: uppercase;
          display: block;
          cursor: pointer; }

.right-dashboard {
  width: 125px;
  height: 100vh;
  float: right;
  background-color: #161616;
  text-align: center; }
  .right-dashboard__content {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
    .right-dashboard__content a {
      font-size: 35px;
      font-family: 'Kanit', sans-serif;
      font-weight: 900; }
