.dashboard {
  width: 320px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: -4px 0px 14px 3px rgba(0, 0, 0, 0.82); }
  .dashboard__top__container {
    background-color: #17252A;
    height: 30%;
    width: 100%;
    float: left; }
    .dashboard__top__container__content {
      width: 90%;
      height: 102%;
      margin: auto;
      margin-top: 3%;
      background-color: #DEF2F1;
      clip-path: polygon(50% 0%, 100% 0, 100% 75%, 72% 100%, 28% 100%, 0% 75%, 0 0);
      box-shadow: 2px 2px 2px #000000; }
  .dashboard__bottom__container {
    width: 100%;
    float: left;
    height: 70%;
    background-color: #17252A; }
    .dashboard__bottom__container__content {
      width: 90%;
      height: 103%;
      margin: auto;
      margin-top: -11%;
      background-color: #DEF2F1;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 26% 10%, 74% 10%);
      box-shadow: 2px 2px 2px #000000; }
