html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  cursor: pointer;
  text-decoration: none !important;
  color: white; }

body {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

h1 {
  margin: 0px; }

p {
  margin: 0px 0px 0px 0px; }

/*-345px (left dashboard width + right dashboard width)*/
.mainContainer {
  width: calc(100% - 345px);
  height: 100vh;
  overflow-y: auto;
  float: right;
  background-color: #1a1a1a; }
  .mainContainer__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

/* width */
::-webkit-scrollbar {
  width: 15px; }

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d0d; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a1a1a; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.landing__container {
  text-align: center; }
  .landing__container-welcome {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 35px;
    font-family: "Hind", "sans-serif";
    font-weight: 900; }
  .landing__container-text {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 20px;
    font-family: "Hind", "sans-serif";
    font-weight: 900; }

.login__container {
  margin: auto;
  display: block;
  width: 50%; }
  .login__container-title {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 35px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    text-align: center; }
  .login__container p {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    font-weight: 900; }
  .login__container input {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    border: none;
    border-bottom: solid;
    background-color: transparent;
    width: 100%;
    outline: none;
    border-radius: 2px;
    transition: all .6s linear;
    border-width: 3px;
    border-color: white;
    color: white; }
    .login__container input:focus {
      border-color: #3AAFA9; }
    .login__container input:active {
      border-color: #3AAFA9; }
    .login__container input:hover {
      border-color: #3AAFA9; }
  .login__container button {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: #3AAFA9;
    color: white;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    margin-top: 10px; }

.register__container {
  margin: auto;
  display: block;
  width: 50%; }
  .register__container-title {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 35px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    text-align: center; }
  .register__container p {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    font-weight: 900; }
  .register__container input {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    border: none;
    border-bottom: solid;
    background-color: transparent;
    width: 100%;
    outline: none;
    border-radius: 2px;
    transition: all .6s linear;
    border-width: 3px;
    border-color: white;
    color: white; }
    .register__container input:focus {
      border-color: #3AAFA9; }
    .register__container input:active {
      border-color: #3AAFA9; }
    .register__container input:hover {
      border-color: #3AAFA9; }
  .register__container button {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: #3AAFA9;
    color: white;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    margin-top: 10px; }
