@keyframes text-input {
  0% {
    background-color: red; }
  100% {
    border-bottom: 10px #3AAFA9;
    background-color: yellow; } }

.questions {
  /*all questions CSS for each question*/ }
  .questions__loginerror {
    color: #FEFFFF;
    font-size: 35px;
    font-family: "Raleway", "sans-serif";
    font-weight: 900;
    margin-top: 20px; }
  .questions__title {
    color: #FEFFFF;
    font-size: 90px;
    font-family: "Raleway", "sans-serif";
    font-weight: 900; }
    .questions__title-highlight {
      color: #3AAFA9; }
  .questions__tag {
    color: #FEFFFF;
    font-size: 25px;
    font-family: "Raleway", "sans-serif";
    font-weight: 900; }
  .questions__textinput {
    border: none;
    border-bottom: solid;
    background-color: transparent;
    width: 100%;
    font-size: 35px;
    outline: none;
    border-radius: 2px;
    transition: all .6s linear;
    border-width: 3px;
    border-color: white;
    color: white; }
    .questions__textinput:focus {
      border-color: #3AAFA9; }
    .questions__textinput:active {
      border-color: #3AAFA9; }
    .questions__textinput:hover {
      border-color: #3AAFA9; }
  .questions__titleinput {
    border: none;
    border-bottom: solid;
    background-color: transparent;
    width: 25%;
    font-size: 35px;
    outline: none;
    border-radius: 2px;
    transition: all .6s linear;
    border-width: 3px;
    border-color: white;
    color: white; }
  .questions__submit {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: #3AAFA9;
    color: white;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    margin-top: 10px; }
  .questions__container-title {
    color: #FEFFFF;
    font-size: 35px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    margin-top: 20px; }
  .questions__container-text {
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    margin-top: 20px; }
  .questions__container-date {
    margin-top: 15px;
    color: #FEFFFF;
    font-size: 15px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    margin-top: 20px; }
  .questions__container-language {
    margin-top: 15px;
    color: #FEFFFF;
    font-size: 15px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    margin-top: 20px; }
  .questions__container-loginerror {
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    margin-top: 20px; }
  .questions__container-commenttitle {
    color: #FEFFFF;
    font-size: 25px;
    font-family: "Hind", "sans-serif";
    font-weight: 900;
    margin-top: 35px; }
  .questions__container-spacer {
    margin-bottom: 40px; }
  .questions__container__commentform-title {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 20px;
    font-family: "Hind", "sans-serif";
    font-weight: 900; }
  .questions__container__commentform-textinput {
    margin-top: 7px;
    color: #FEFFFF;
    font-size: 17.5px;
    font-family: "Hind", "sans-serif";
    border: none;
    border-bottom: solid;
    background-color: transparent;
    width: 100%;
    outline: none;
    border-radius: 2px;
    transition: all .6s linear;
    border-width: 3px;
    border-color: white;
    color: white; }
    .questions__container__commentform-textinput:focus {
      border-color: #3AAFA9; }
    .questions__container__commentform-textinput:active {
      border-color: #3AAFA9; }
    .questions__container__commentform-textinput:hover {
      border-color: #3AAFA9; }
  .questions__container__commentform-submit {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: #3AAFA9;
    color: white;
    font-family: "Raleway", "sans-serif";
    text-transform: uppercase;
    margin-top: 10px; }
  .questions__container__comment__container {
    margin-top: 10px; }
    .questions__container__comment__container-username {
      margin-top: 15px;
      color: #FEFFFF;
      font-size: 20px;
      font-family: "Hind", "sans-serif";
      font-weight: 900; }
    .questions__container__comment__container-text {
      margin-top: 15px;
      color: #FEFFFF;
      font-size: 17.5px;
      font-family: "Hind", "sans-serif"; }
    .questions__container__comment__container-date {
      margin-top: 15px;
      color: #FEFFFF;
      font-size: 15px;
      font-family: "Hind", "sans-serif";
      font-weight: 900;
      margin-top: 20px; }
  .questions__question__container {
    width: 100%; }
    .questions__question__container-link:last-of-type div {
      margin-bottom: 20px; }
    .questions__question__container-link:active {
      text-decoration: none; }
    .questions__question__container-link:hover {
      text-decoration: none;
      color: white; }
      .questions__question__container-link:hover div {
        transition: .5s all;
        transition-timing-function: ease-in;
        -webkit-box-shadow: 2px 2px 6px 0px white;
        -moz-box-shadow: 2px 2px 6px 0px white;
        box-shadow: 2px 2px 6px 0px white; }
    .questions__question__container-link div {
      border: 2px solid white;
      margin-top: 20px;
      padding: 20px;
      border-radius: 20px; }
    .questions__question__container-title {
      font-size: 27.5px;
      font-family: "Hind", "sans-serif"; }
    .questions__question__container-text {
      text-align: left; }
