$charcoal: #0d0d0d;
$light-charcoal: #191919;
$middark-charcoal: #161616;

$darkrose: #5D001E;
$lightslate: #E3E2DF;
$pink: #E3AFBC;
$violet: #9A1750;
$darkpink: #EE4C7C;

$bluegray: #17252A;
$darkteal: #2b7A78;
$teal: #3AAFA9;
$silver: #DEF2F1;
$white: #FEFFFF;