@import 'Colors.scss';

.left-dashboard {
    width: 320px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: -4px 0px 14px 3px rgba(0,0,0,0.82);

    &__top__container {
        background-color: $bluegray;
        height: 30%;
        width: 100%;
        float: left;


        &__content {
            width: 92%;
            height: 102%;
            margin: auto;
            margin-top: 3%;
            background-color: $light-charcoal;
            clip-path: polygon(50% 0%, 100% 0, 100% 75%, 72% 100%, 28% 100%, 0% 75%, 0 0);
        }
    }

    &__bottom__container {
        width: 100%;
        float: left;
        height: 70%;
        background-color: $bluegray;

        &__content {
            width: 92%;
            height: 104%;
            margin: auto;
            margin-top: -11%;

            &__list {
                height: 90%;
                text-align: center;
                padding-top: 30%;
                text-decoration: none;
                list-style: none;
                padding-inline-start: 0px;

                li {
                    background-color: $white;
                    width: 100%;

                    a {
                        padding: 5px 0px;
                        color: white;
                        font-size: 30px;
                        display: block;
                        margin: 30px auto;
                        background-color: $bluegray;
                        cursor: pointer;
                        clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 4% 76%, 4% 24%);
                        border-top: 1px solid $bluegray;
                        border-right: 1px solid $bluegray;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.right-dashboard {
    width: 75px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $bluegray;

    &__content {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 2px 2px 2px #000000;

    }
}
