
@{
    ViewData["Title"] = "Landing";
}

    <div class="landing__container">
        <h2 class="landing__container-welcome">Welcome to Full-Stack Full-Time</h2>
        <h3 class="landing__container-text">A hub for developers</h3>

        <h3 class="landing__container-text">Feel free to browse the questions and ask your own!</h3>
    </div>



