
@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard">
    <div class="dashboard__top__container">
        <div class="dashboard__top__container__content">

        </div>
    </div>
    <div class="dashboard__bottom__container">
        <div class="dashboard__bottom__container__content">

        </div>
    </div>
</div>

