
@{
    ViewData["Title"] = "Dashboard";
}

<div class="left-dashboard">
    <div class="left-dashboard__top__container">
        <div class="left-dashboard__top__container__content">

        </div>
    </div>
    <div class="left-dashboard__bottom__container">
        <div class="left-dashboard__bottom__container__content">
            <ul class="left-dashboard__bottom__container__content__list">
                <li><a>Home</a></li>
                <li><a>Questions</a></li>
                <li><a>Account</a></li>
                <li><a>Log In</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="right-dashboard">
    <div class="right-dashboard__content">

    </div>
</div>

